body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header, footer {
    text-align: center;
    margin-bottom: 20px;
}

header a {
    margin-left: 20px;
    text-decoration: none;
    color: #007bff;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product, .cart-container {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h2 {
    margin: 10px 0;
    font-size: 18px;
}

.price {
    color: #e74c3c;
    font-size: 20px;
    margin: 10px 0;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
}

.total {
    text-align: right;
}

#total-price {
    font-size: 24px;
    font-weight: bold;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
}

/* navigation */
nav {
    background-color: rgb(31, 101, 154);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.2rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.cart-icon img {
    width: 24px;
    height: 24px;
}

/* login */
#login{
    display: inline-block;
    padding: 0.25rem 1rem;
    background-color: rgb(34, 198, 37);
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
}