body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(31, 101, 154);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.cart-icon img {
    width: 24px;
    height: 24px;
}

.hero {
    background-image: url('https://img.freepik.com/free-photo/closeup-shot-rice-plant-sunset-with-plantation-background_181624-42264.jpg?w=996&t=st=1725072902~exp=1725073502~hmac=b004dc845e61cad2607ae2c5284a0835a96d99e1534c2f65daa3531b80a28bf1');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 4rem 1rem;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.25rem;
    margin: 1rem 0;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #f60;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.featured-products {
    padding: 2rem 1rem;
    text-align: center;
}

.featured-products h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.product {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    width: 200px;
}

.product img {
    width: 100%;
    border-radius: 5px;
}

.product h3 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

.product p {
    font-size: 1rem;
    color: #f60;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
#login{
    display: inline-block;
    padding: 0.25rem 1rem;
    background-color: rgb(34, 198, 37);
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
/* search bar */
#search-bar {
    width: 300px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    margin: 5px;
    background-color: #5cb85c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#results {
    margin-top: 20px;
}